@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 700, bold;
    font-size: 30px;
    color: rgba(53, 70, 87, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(226, 226, 226, 1);
    padding-bottom: 18px;
    margin-top: 14px;
    margin-left: 25px;
    margin-bottom: 27px;
    margin-right: 28px;
}

.container {
    margin-left: 25px;
    margin-right: 28px;
    width: 98%;    
}

.card-left, .card-center, .card-right {
    display: inline-block;
    width: 31%;
}

.card-center {
    margin-left: 25px;
    margin-right: 25px;
}

.card__img {
    width: 100%;
    margin-bottom: 17px;
}

.card__title {
    font-weight: 700 bold;
    font-size: 24px;
    color: rgba(53, 70, 87, 1);
    margin-top: 0;
    margin-bottom: 15px;
}

.card__description {
    font-weight: 400;
    font-size: 16px;
    color: rgba(53, 70, 87, 1);
    margin-right: 6px;
    margin-bottom: 58px;
}

.card__button {
    font-size: 16px;
    color: rgba(148, 111, 211, 1);
    text-decoration: none;
    border: 2px solid;
    border-color: rgba(148, 111, 211, 1);
    display: inline-block;
    width: 206px;
    text-align: center;
    border-radius: 50px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 53px;
}

.card__button:hover {
    background-color: rgba(148, 111, 211, 1);
    color: rgb(255, 255, 255);
}
