@media (min-width: 768px) {
    .start_menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        
    }
}

@media (max-width: 767px) {
    .start_menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr  ;
        
    }
}

@media (max-width: 480px) {
    .start_menu ul {
        display: grid;
        grid-template-columns: 1fr  ;
        
    }
}

* {
    box-sizing: border-box;
    }

ul {
    list-style: none;
    padding: 0;
}

li {
    border-color: black;
    border: solid;
    padding: 20px;
}

a {
    text-decoration: none;
}
#body {
    max-width: 1462px;
    margin: 80px auto;
    padding: 0;
}

.start_menu ul {
    margin: auto;
}

.start_menu li {
    margin: 15px;
    text-align: center;
}

.image {
    max-width: 1440px;
    margin: 100px;
    text-align: center;
}

img {
    width: 50%;  
}




