@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;400;500;600&family=Merriweather:ital@1&family=Playfair+Display:wght@800;900&family=Poppins&family=Quicksand:wght@300;400;600&family=Roboto+Mono:wght@500&family=Roboto+Slab&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;400;500;600&family=Merriweather:ital@1&family=Open+Sans:wght@400;700&family=Playfair+Display:wght@800;900&family=Poppins&family=Quicksand:wght@300;400;600&family=Roboto+Mono:wght@500&family=Roboto+Slab&family=Roboto:wght@300;400&display=swap');
@media (min-width: 789px) {
    
.container {
    display: grid;
    grid-template-columns: 217px 789px 334px;
    letter-spacing: 0.04em;
    }
}

h1 {
    margin-top: 134px;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 63.98px;
}

p {
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 42.66px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.04em;
}

p span {
    margin-left: 30px;
}
.h2__see-also {
    margin-top: 80px;
}

ol li {
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
