@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;400;500;600&family=Merriweather:ital@1&family=Playfair+Display:wght@800;900&family=Poppins&family=Quicksand:wght@300;400;600&family=Roboto+Mono:wght@500&family=Roboto+Slab&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;400;500;600&family=Merriweather:ital@1&family=Open+Sans:wght@400;700&family=Playfair+Display:wght@800;900&family=Poppins&family=Quicksand:wght@300;400;600&family=Roboto+Mono:wght@500&family=Roboto+Slab&family=Roboto:wght@300;400&display=swap');

@media (min-width: 789px) {
    .log_in {
        display: grid;
        grid-template-columns: 20px 120px 115px 100px;
        }
    }

@media (min-width: 789px) {
    .header {
        display: grid;
        grid-template-columns: 460px 2fr 355px;
        }
    }

@media (min-width: 789px) {
    .left_part-text {
        display: grid;
        grid-template-columns: 150px 15px;
        background-color: rgb(236, 236, 236);
        }
    }

@media (min-width: 789px) {
    .container__main_part {
        display: grid;
        grid-template-columns: 280px 2fr 1fr;
        }
    }

* {
    box-sizing: border-box;
    }

h1 {
    margin-top: 84px;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 63.98px;
    }
        
main p {
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    }
        
a {
    text-decoration: none;
    color: blue;
    }
        
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 42.66px;
    }
        
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.04em;
    }
        
.vector {
    margin-top: 18px;
    }
        
.vector-search {
    background-image: url(../home\ work-task2/img/search.svg);
    text-indent: -999px;
    min-width: 20px;
    opacity: 0.67;
    background-size: 1.23077em;
    background-repeat: no-repeat;
    border-style: none;
    }
       
.input_search {
    width: 80%;
    border-style: none;
    }
        
.search {
    margin-left: 25px;
    }

.header {
    background-color: rgb(243, 243, 243);
    padding: 15px 0;
    border-bottom-color: rgb(221, 220, 220) ;
    border-bottom-style: solid;
    }

.left_part img {
    margin-left: 55px;
    }

.left_part, .right_part {
    background-color: rgb(243, 243, 243);
    }

.central_part {
    margin: 0 25px;
    }
        
figure {
    margin: auto 0;
    }

figcaption {
    margin-left: 25px;
    }

.left_part-text p {
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    }

.left_part-text {
    margin-top: 5px;
    }

